body, h1,h2,h3,h4,h5,h6 {margin:0em;font-family: "Montserrat", sans-serif}
.container{padding:0.01em 16px}
.make-center{width:auto;text-align:center}
.jumbo{font-size:64px!important}
button,button:hover{color:#000!important;background-color:#f1f1f1!important;margin:16px;padding:12px 24px!important}
html,body{font-size:15px;line-height:1.5}
h1{font-size:36px}
img{
vertical-align:middle;
border-radius: 30px;
display:block;
width:33%;
height:auto;
margin:auto}
.w3-row-padding img {margin-bottom: 12px}

